<main>
    <h2>HOOOOOOOOME PAGE</h2>

    <article>
        <h3><%= data.title%></h3>
        <img src="img/<%= data.url_img %>"/>
        <p>dans la catégorie : <strong><%= data.category%></strong></p>
    </article>

</main>